.section-baner

    .baner

        .container

            h1 Грузинская кухня

            ul
                li
                    a(href="#") Самые вкусные и свежие блюда
                li
                    a(href="#") Приятные цены
                li
                    a(href="#") Качественный сервис

            a.baner__button(href="#") Просмотреть меню

