.buisness-section

    .container

        h3.buisness-title Бизнес-ланчи

        .buisness-tabs

            a.active(href="#Monday") Понедельник
            a(href="#Thuesday") Вторник
            a(href="#") Среда
            a(href="#") Четверг
            a(href="#") Пятница

        #Monday.buisness-menu

            .buisness-menu__one

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

            .buisness-menu__two

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                p.menu-total Всего: 330руб

        #Thuesday.buisness-menu

            .buisness-menu__one

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

            .buisness-menu__two

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                .menu-tablice

                    p.menu-dishes Название блюда

                    p.menu-gram 100гр

                    p.menu-cost 55руб

                p.menu-total Всего: 330руб


        .buisness-button

            a(href="#") Заказать
