.callback-section

    .container

        .map

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5339.952869397516!2d37.841563143746654!3d47.99484256038354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e091bbdcaf2645%3A0x2e2c57d07dffdf64!2zM0EsINGD0LsuINCl0LDRgNC40YLQvtC90L7QstCwLCAz0JAsINCU0L7QvdC10YbQuiwg0JTQvtC90LXRhtC60LDRjyDQvtCx0LvQsNGB0YLRjCwgODMwMDA!5e0!3m2!1sru!2sua!4v1531474656660" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        .callback

            h1.callback-title Свяжитесь с нами

            form.callback-form

               input.callback-name(type=text, placeholder="Имя")

               input.callback-number(type=text, placeholder="Номер телефона")

               input.callback-email(type=email, placeholder="E-mail")

               input.callback-button(type=submit, value="Оставить запрос")

