.events-section

    .container

        h1.events-title События

        .events-container

            .img-events

                img(src="img/eventsimg.png")

            .events-text

                h3 Название события

                p.date Дата проведения: 20.05.2018

                p.lorem текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        .events-container

            .img-events

                img(src="img/eventsimg.png")

            .events-text

                h3 Название события

                p.date Дата проведения: 20.05.2018

                p.lorem текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        .events-container

            .img-events

                img(src="img/eventsimg.png")

            .events-text

                h3 Название события

                p.date Дата проведения: 20.05.2018

                p.lorem текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
        .events-container

            .img-events

                img(src="img/eventsimg.png")

            .events-text

                h3 Название события

                p.date Дата проведения: 20.05.2018

                p.lorem текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст


