footer.footer

    .container

        .header__box

            .header__logo

                img(src="img/logo.png")

            .header__flex

                p.header__adress
                    | г.Донецк
                    br
                    | ул. Харитонова 3а

                .header__social

                    a(href="#").header__social--vk
                    a(href="#").header__social--inst

                .header__number

                    a(href="tel:+380664538838") +38 (066) 453 88 38
                    a(href="tel:+380714538838") +38 (071) 453 88 38