.gallery-section

      .container

          h1.description Галлерея

          .gallery-buttons
                  a(href="#our-dishes") Наши блюда
                  a(href="#events") События
                  a(href="#our-restourant") Наш ресторан
      .top-slider

          .container

              #our-dishes.gallery-tab

                .top-slider__slider

                    a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                        img(src="img/gallery.png")

                    a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                      img(src="../img/gallery.png")

                    a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                      img(src="../img/gallery.png")

                    a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                      img(src="../img/gallery.png")

                    a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide



                      img(src="../img/gallery.png")


              #events.gallery-tab

                  .top-slider__slider

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

              #our-restourant.gallery-tab

                  .top-slider__slider

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

                      a(data-fancybox="gallery" href="img/gallery.png").top-slider__slide


                          img(src="../img/gallery.png")

      .tour-restourant

          .container

            h2.tour 3-D тур по нашему ресторану

            .panorama

                img(src="img/tour.png")