.menu-section

        .container

            h1.menu-description Меню

            .menu-tabs

                ul.menu-position
                    li

                        a(href="#our-salat") Салаты
                    li

                        a(href="#our-snack") Закуски
                    li

                        a(href="#") Блюда мангала
                    li

                        a(href="#") Первые блюда, гарниры, паста
                    li

                        a(href="#") Мясные и рыбные блюда
                    li

                        a(href="#") Грузинская кухня
                    li

                        a(href="#") Мучные изделия и горячие бутерброды
                    li

                        a(href="#") Горячие напитки и десерты
                    li

                        a(href="#") Холодные напитки
                    li

                        a(href="#") Пиво и к пиву
                    li

                        a(href="#") Алкоголь
                    li

                        a(href="#") Грузинские вина
                    li

                        a(href="#") Элитные напитки и сигареты

            .menu-body

                #our-salat.menu-body__wrapper

                    .menu-body__section

                        h2.menu-cold Холодные закуски



                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                    .menu-body__section

                        h2.menu-cold Горячие закуски



                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                #our-snack.menu-body__wrapper

                    .menu-body__section

                        h2.menu-cold Холодные закуски



                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                    .menu-body__section

                        h2.menu-cold Горячие закуски



                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб

                        .menu-tablice

                            p.menu-dishes Название блюда

                            p.menu-gram 100гр

                            p.menu-cost 300руб


