.callback-section{
  position: relative;
  float: left;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
}

.map{
  float: left;
  width: 70%;

  @include breakpoint(max-width 670px){
    width: 100%;
  }
}

iframe{
  width: 775px;
  height: 300px;

  @include breakpoint(max-width 770px){
    width: 575px;
  }
}

.callback{
  position: relative;
  float: left;
  width: 30%;

  @include breakpoint(max-width 670px){
    width: 100%;
  }
}

.callback-title{
  color: #6a2f1b;
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
  text-align: center;

  @include breakpoint(max-width 1024px){
    font-size: 15px;
    padding-left: 100px;
  }

  @include breakpoint(max-width 1024px){
    padding-left: 65px;
  }
}

.callback-form{
  position: relative;
  float: left;
  width: 30%;

  @include breakpoint(max-width 670px){
    width: 100%;
  }

    .callback-name{
      border: 1px solid #75b63f;
      border-radius: 10px;
      width: 305px;
      height: 42px;
      margin-bottom: 15px;
      padding-left: 10px;

      @include breakpoint(max-width 1024px){
         width: 200px;
         margin-left: 105px;
       }

      @include breakpoint(max-width 770px){
        width: 160px;
        margin-left: 65px;
      }

      @include breakpoint(max-width 670px){
        width: 100%;
        margin-left: 0;
      }
          &:hover{
            border: 1px solid #d2b637;
            border-radius: 10px;
          }
    }

    .callback-number{
      border: 1px solid #75b63f;
      border-radius: 10px;
      width: 305px;
      height: 42px;
      margin-bottom: 15px;
      padding-left: 10px;

      @include breakpoint(max-width 1024px){
        width: 200px;
        margin-left: 105px;
      }

      @include breakpoint(max-width 770px){
        width: 160px;
        margin-left: 65px;
      }

      @include breakpoint(max-width 670px){
        width: 100%;
        margin-left: 0;
      }
          &:hover{
            border: 1px solid #d2b637;
            border-radius: 10px;
          }
    }

    .callback-email{
      border: 1px solid #75b63f;
      border-radius: 10px;
      width: 305px;
      height: 42px;
      padding-left: 10px;

      @include breakpoint(max-width 1024px){
        width: 200px;
        margin-left: 105px;
      }

      @include breakpoint(max-width 770px){
        width: 160px;
        margin-left: 65px;
      }

      @include breakpoint(max-width 670px){
        width: 100%;
        margin-left: 0;
      }

          &:hover{
            border: 1px solid #d2b637;
            border-radius: 10px;
          }
    }
    .callback-button{
      color: white;
      font-size: 18px;
      font-weight: 400;
      background-color: #d2b637;
      border-radius: 10px;
      width: 205px;
      height: 40px;
      margin-top: 15px;
      margin-left: 50px;
      padding-left: 30px;

      @include breakpoint(max-width 1024px){
        width: 200px;
        margin-left: 105px;
      }

      @include breakpoint(max-width 770px){
        width: 160px;
        margin-left: 65px;
        padding-left: 10px;
      }

      @include breakpoint(max-width 670px){
        width: 100%;
        margin-left: 0;
      }
    }

}

