doctype html
html
    head(lang='en')
        include ../html_open

    body
        include ../header
        include ../baner
        include ../gallery
        include ../menu
        include ../buisness-launch
        include ../events
        include ../callback
        include ../footer
        include ../html_close